{% extends "converter/base.html" %}

{% block content %}
<div class="box">
    <div class="notification">
        <div class="content">
            <h1 class="title is-size-4">What is this?</h1>
            <p>
            Character Isolator is a web app for learners of Chinese where you upload a Chinese vocabulary list (only from Pleco for now) and get back a list of just the unique characters. You can then upload the list to Pleco and study the characters individually.
            <br>
            <br>
            In other words, it deletes all of the duplicates; you give me 美国人 and 韩国人, and I give you:
            <br>
            <br>
            美<br>
            国<br>
            人<br>
            韩
            </p>
            <br>
            <br>
            <h4>Download a sample vocabulary list to try it out:</h4>
            <a class="button" href ="/sample">Download</a>
            <br>
            <br>
            <h4>Why would I want to get unique characters?</h4>
            <br>
            <p>
            Traditional methods of teaching Chinese were very character focused. Students memorized individual characters, often with no context. This was super inefficient, and newer methods rightly emphasize learning characters in the context of the words and sentences that give them meaning.
            <br>
            <br>
            But – you can have too much of a good thing. Here’s the problem:
            <br>
            <br>
            Some characters are, obviously, much rarer than others. Plus, it’s much easier to read recognize characters in context than out of context. So, I often come across the problem that I’ll recognize all of the characters of one multi-character word when I see them in that word, but then when I see one of the characters from that word by itself or in a different word, I draw a blank. It turns out that the having an easy character next to a hard character is a crutch making you think you know more than you do.
            <br>
            <br>
            I’m betting that you have had the same issue.
            <br>
            <br>
            Maybe you know that 啤酒 means beer because it’s the one that ends in 酒 and starts with that character that you can never quite remember, but then when you see 生啤 you feel like you should know it but can’t quite place that second character and so you have no idea it means draft beer.
            <br>
            <br>
            Because I have this problem all the time, I looked at all of my flashcard apps for a feature that would allow me to test myself on just the individual characters in a vocab list rather than the words.
            <br>
            <br>
            Unfortunately, I wasn’t able find that feature, so I built it myself. Give it a shot and let me know what other features you’d like!
            </p>
        </div>
    </div>
</div>
{% endblock content %}