{% extends "converter/base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="notification">
                    <div class="content">
                        <h1 class="title is-size-4">Upload a Pleco Vocab List</h1>
                        <p>(Only accepting Pleco .txt files for now.)</p>
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div id='file_upload' class="file has-name">
                                <label class="file-label">
                                  <input class="file-input is-centered" type="file" name="txt_file">
                                  <span class="file-cta">
                                    <span class="file-label">
                                      Choose File   
                                    </span>
                                  </span>
                                  <span class="file-name">
                                    no file uploaded
                                  </span>
                                </label>
                            </div>
                            <div class="pt-3">
                              <button class="button is-primary" type="submit" value="Upload">Submit</button>
                            </div>
                        </form>
                        <br>
                        <br>
                        <br>
                        <p>Download a sample vocabulary list to try it out:</p>
                        <a class="button" href ="/sample">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
  // show the name of the uploaded file
  const fileInput = document.querySelector('#file_upload input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file_upload .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>
{% endblock content %}