{% extends "converter/base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="notification">
                    <div class="content">
                        <h1 class="title is-size-4">Upload a Pleco Vocab List</h1>
                        <p>(Only accepting Pleco .txt files for now.)</p>
                        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <input type="file" name="txt_file" />
                            <button class="button is-primary" type="submit" value="Upload">Submit</button>
                        </form>
                        <br>
                        <br>
                        <br>
                        <p>Download a sample vocabulary list to try it out:</p>
                        <a class="button" href ="/sample">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}