{% extends "converter/base.html" %}
{% load bulma_tags %}

{% block content %}

<section class="section">
  <div class="container">
      <div class="columns">
          <div class="column">
              <div class="notification">
                  <h1 class="title is-size-4">Choose your Filter</h1>
                  <p class="subtitle">
                    Select how many characters to ignore. You can choose from zero to the most common one thousand characters <br>(otherwise you'll end up with a flashcard for 人).
                  </p>
                  <form method="post">
                    <p>
                    {% csrf_token %}
                    {{ form|bulma }}
                    <button class="button is-primary" type="submit">Submit</button>
                  </p>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>



{% endblock content %}