{% extends "converter/base.html" %}

{% block content %}
<div class="box">
    <div class="content">
        <h3>Successfully Processed</h3>
        <p>Download the list of unique characters from your vocabulary cards.</p>
        <a href ="/foo">
            <input type="button" value ="download" style="margin-bottom: 30px">
        </a>
        <p>This list contains simplified and traditional versions of the same character.
        <br>
        When uploading to Pleco, set it to skip duplicate entries.</p>
    </div>
</div>
{% endblock content %}
